
:root {
    font-size: 62.5%;
    
    --theme-dark: #262626;
    --theme-light: #ffffff;
    --theme-muted: black;
    --theme-highlight: black;

    --theme-font-main: #000000;

    --font-xl:  10rem;
    --font-l:   7.2rem;
    --font-m:   4.8rem;
    --font-s:   3.6rem;
    --font-xs:  2.4rem; 

  }

html {
    font-size: 62.5%;
    min-height: 100%;
    scroll-behavior: smooth;
    background-color: var(--theme-light);
}

h1 h2 h3 h4 h5 h6 {
    color: var(--theme-light);
}

h1 {
    font-size: var(--font-xl); 

    @media screen and (max-width: 768px){
        font-size: var(--font-l);
    }
}

h2 {
    font-size: var(--font-l); 

    @media screen and (max-width: 768px){
        font-size: var(--font-m);
    }
}

h3 {
    font-size: var(--font-m); 

    @media screen and (max-width: 768px){
        font-size: var(--font-s);
    }
}

h4 {
    font-size: var(--font-s); 

    @media screen and (max-width: 768px){
        font-size: var(--font-xs);
    }
}

h5 {
    font-size: var(--font-xs); 

    @media screen and (max-width: 768px){
        font-size: var(--font-xxs);
    }
}

p {
    font-size: var(--font-s);
    color: var(--theme-dark);
    line-height: 1.1em;
}

button {
    color: var(--theme-dark);
}

.font-basic_xl {
    font-size: var(--font-xl);
}
.font-basic_l {
    font-size: var(--font-l);
}
.font-basic_m {
    font-size: var(--font-m);
}
.font-basic_s {
    font-size: var(--font-s);
}
.font-basic_xs {
    font-size: var(--font-xs);
}

.text-muted {
    color: var(--theme-muted);
}
.text-highlight{
    color: var(--theme-highlight)
}

.section-header {
    font-size: var(--font-xl); 
    color: var(--theme-highlight);
}

.subtitle {
    font-size: var(--font-m);
    color: var(--theme-muted);
}

.practice{
    display: inline;
    align-content: right;
}



